.document-list{
    max-width: 100%;

    .tree-box {
    }

    Nav {
    background-color: Transparent;
  }
  
    Button {
        .nav-link {
            display: block;
            padding: .5rem 1rem;
        }
    
        .ml-3, .mx-3 {
            margin-left: 1rem!important;
        }
        
        .mb-1, .my-1 {
            margin-bottom: .25rem!important;
        }
        .mt-1, .my-1 {
            margin-top: .25rem!important;
        }
    }

    Button:hover {
        background-color: green;
      }
}